@import url('https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.antonio-h1 {
    font-family: 'Antonio';
    font-weight: 500;
    font-size: 80px;
    line-height: 103px;
}
.antonio-h2 {
    font-family: 'Antonio';
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    /* letter-spacing: -1.5rem; */
}
.spartan-h3 {
    font-family: 'League Spartan';
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    /* letter-spacing: 2.6rem; */
}
.spartan-h4 {
    font-family: 'League Spartan';
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    /* letter-spacing: 1rem; */
}
.spartan-body {
    font-family: 'League Spartan';
    font-size: 14px;
    line-height: 25px;
}
